body {
  background-color: white;
}

h2 {
  font-size: 1.1em;
  font-weight: bold;
}

/***************************************************************
 * ICONS
 ***************************************************************/
.icon {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 22px;
  height: 22px;
}
.icon-research {
  background: transparent url(fonticons.png) -22px 0px no-repeat;
}
.icon-gold {
  background: transparent url(fonticons.png) -44px 0px no-repeat;
}
.icon-production {
  background: transparent url(fonticons.png) -66px 0px no-repeat;
}
.icon-food {
  background: transparent url(fonticons.png) -88px 0px no-repeat;
}
.icon-culture {
  background: transparent url(fonticons.png) -110px 0px no-repeat;
}
.icon-defense {
  background: transparent url(fonticons.png) -176px 0px no-repeat;
}
.icon-iron {
  background: transparent url(fonticons.png) -198px 0px no-repeat;
}
.icon-horse {
  background: transparent url(fonticons.png) -220px 0px no-repeat;
}
.icon-coal {
  background: transparent url(fonticons.png) 0px -22px no-repeat;
}
.icon-oil {
  background: transparent url(fonticons.png) -22px -22px no-repeat;
}
.icon-aluminum {
  background: transparent url(fonticons.png) -44px -22px no-repeat;
}
.icon-uranium {
  background: transparent url(fonticons.png) -66px -22px no-repeat;
}
.icon-wheat {
  background: transparent url(fonticons.png) -88px -22px no-repeat;
}
.icon-cow {
  background: transparent url(fonticons.png) -110px -22px no-repeat;
}
.icon-deer {
  background: transparent url(fonticons.png) -132px -22px no-repeat;
}
.icon-fish {
  background: transparent url(fonticons.png) -154px -22px no-repeat;
}
.icon-whale {
  background: transparent url(fonticons.png) -176px -22px no-repeat;
}
.icon-banana {
  background: transparent url(fonticons.png) -198px -22px no-repeat;
}
.icon-marble {
  background: transparent url(fonticons.png) -22px -44px no-repeat;
}
.icon-ivory {
  background: transparent url(fonticons.png) -44px -44px no-repeat;
}
.icon-happiness {
  background: transparent url(fonticons.png) -176px -44px no-repeat;
}
.icon-unhappiness {
  background: transparent url(fonticons.png) -0px -66px no-repeat;
}
.icon-golden-age {
  background: transparent url(fonticons.png) -22px -66px no-repeat;
}
.icon-pearls {
  background: transparent url(fonticons.png) -132px -66px no-repeat;
}
.icon-fur {
  background: transparent url(fonticons.png) -220px -66px no-repeat;
}
.icon-occupied {
  background: transparent url(fonticons.png) -154px -88px no-repeat;
}
.icon-sheep {
  background: transparent url(fonticons.png) -0px -110px no-repeat;
}
.icon-faith {
  background: transparent url(fonticons.png) -44px -110px no-repeat;
}
.icon-truffles {
  background: transparent url(fonticons.png) -154px -154px no-repeat;
}
.icon-spy, .icon-diplomat {  /* TODO: fix */
  background: transparent url(fonticons.png) -132px -198px no-repeat;
}
.icon-tourism {
  background: transparent url(fonticons.png) -44px -220px no-repeat;
}

/***************************************************************
 * TECHNOLOGIES
 ***************************************************************/
.technology {
  margin-left: auto;
  margin-right: auto;
  height: 180px;
  width: 180px;
}
.TECH_AGRICULTURE {
  background: transparent url(technologyatlas.png) -40px -40px no-repeat;
}
.TECH_MINING {
  background: transparent url(technologyatlas.png) -295px -40px no-repeat;
}
.TECH_ANIMAL_HUSBANDRY {
  background: transparent url(technologyatlas.png) -550px -40px no-repeat;
}
.TECH_THE_WHEEL {
  background: transparent url(technologyatlas.png) -808px -40px no-repeat;
}
.TECH_POTTERY {
  background: transparent url(technologyatlas.png) -1065px -40px no-repeat;
}
.TECH_BRONZE_WORKING {
  background: transparent url(technologyatlas.png) -1320px -40px no-repeat;
}
.TECH_MASONRY {
  background: transparent url(technologyatlas.png) -1575px -40px no-repeat;
}
.TECH_ARCHERY {
  background: transparent url(technologyatlas.png) -1833px -40px no-repeat;
}
/* Row 2 */
.TECH_WRITING {
  background: transparent url(technologyatlas.png) -40px -295px no-repeat;
}
.TECH_CALENDAR {
  background: transparent url(technologyatlas.png) -295px -295px no-repeat;
}
.TECH_IRON_WORKING {
  background: transparent url(technologyatlas.png) -550px -295px no-repeat;
}
.TECH_HORSEBACK_RIDING {
  background: transparent url(technologyatlas.png) -808px -295px no-repeat;
}
.TECH_MATHEMATICS {
  background: transparent url(technologyatlas.png) -1065px -295px no-repeat;
}
.TECH_SAILING {
  background: transparent url(technologyatlas.png) -1320px -295px no-repeat;
}
.TECH_METAL_CASTING {
  background: transparent url(technologyatlas.png) -1575px -295px no-repeat;
}
.TECH_CONSTRUCTION {
  background: transparent url(technologyatlas.png) -1833px -295px no-repeat;
}
/* Row 3 */
.TECH_PHILOSOPHY {
  background: transparent url(technologyatlas.png) -40px -550px no-repeat;
}
.TECH_CURRENCY {
  background: transparent url(technologyatlas.png) -295px -550px no-repeat;
}
.TECH_OPTICS {
  background: transparent url(technologyatlas.png) -550px -550px no-repeat;
}
.TECH_MACHINERY {
  background: transparent url(technologyatlas.png) -808px -550px no-repeat;
}
.TECH_ACQUADUCT {  /* Yes, this is the acquaduct picture. Unused */
  background: transparent url(technologyatlas.png) -1065px -550px no-repeat;
}
.TECH_THEOLOGY {
  background: transparent url(technologyatlas.png) -1320px -550px no-repeat;
}
.TECH_CIVIL_SERVICE {
  background: transparent url(technologyatlas.png) -1575px -550px no-repeat;
}
.TECH_COMPASS {
  background: transparent url(technologyatlas.png) -1833px -550px no-repeat;
}
/* Row 4 */
.TECH_PHYSICS {
  background: transparent url(technologyatlas.png) -40px -805px no-repeat;
}
.TECH_EDUCATION {
  background: transparent url(technologyatlas.png) -295px -805px no-repeat;
}
.TECH_NO_IDEA {
  background: transparent url(technologyatlas.png) -550px -805px no-repeat;
}
.TECH_CHIVALRY {
  background: transparent url(technologyatlas.png) -808px -805px no-repeat;
}
.TECH_STEEL {
  background: transparent url(technologyatlas.png) -1065px -805px no-repeat;
}
.TECH_NAVIGATION {
  background: transparent url(technologyatlas.png) -1320px -805px no-repeat;
}
.TECH_PRINTING_PRESS {
  background: transparent url(technologyatlas.png) -1575px -805px no-repeat;
}
.TECH_BANKING {
  background: transparent url(technologyatlas.png) -1833px -805px no-repeat;
}
/* Row 5 */
.TECH_GUNPOWDER {
  background: transparent url(technologyatlas.png) -40px -1060px no-repeat;
}
.TECH_METALLURGY {
  background: transparent url(technologyatlas.png) -295px -1060px no-repeat;
}
.TECH_ASTRONOMY {
  background: transparent url(technologyatlas.png) -550px -1060px no-repeat;
}
.TECH_ECONOMICS {
  background: transparent url(technologyatlas.png) -808px -1060px no-repeat;
}
.TECH_MILITARY_SCIENCE {
  background: transparent url(technologyatlas.png) -1065px -1060px no-repeat;
}
.TECH_CHEMISTRY {
  background: transparent url(technologyatlas.png) -1320px -1060px no-repeat;
}
.TECH_BIOLOGY {
  background: transparent url(technologyatlas.png) -1575px -1060px no-repeat;
}
.TECH_SCIENTIFIC_THEORY {
  background: transparent url(technologyatlas.png) -1833px -1060px no-repeat;
}
/* Row 6 */
.TECH_RIFLING {
  background: transparent url(technologyatlas.png) -40px -1320px no-repeat;
}
.TECH_FERTILIZER {
  background: transparent url(technologyatlas.png) -295px -1320px no-repeat;
}
.TECH_STEAM_POWER {
  background: transparent url(technologyatlas.png) -550px -1320px no-repeat;
}
.TECH_ARCHAEOLOGY {
  background: transparent url(technologyatlas.png) -808px -1320px no-repeat;
}
.TECH_DYNAMITE {
  background: transparent url(technologyatlas.png) -1065px -1320px no-repeat;
}
.TECH_RAILROAD {
  background: transparent url(technologyatlas.png) -1320px -1320px no-repeat;
}
.TECH_ELECTRICITY {
  background: transparent url(technologyatlas.png) -1575px -1320px no-repeat;
}
.TECH_DONT_KNOW {
  background: transparent url(technologyatlas.png) -1833px -1320px no-repeat;
}
/* Row 7 */
.TECH_COMBUSTION {
  background: transparent url(technologyatlas.png) -40px -1570px no-repeat;
}
.TECH_REPLACEABLE_PARTS {
  background: transparent url(technologyatlas.png) -295px -1570px no-repeat;
}
.TECH_REFRIGERATION {
  background: transparent url(technologyatlas.png) -550px -1570px no-repeat;
}
.TECH_NOT_USED {
  background: transparent url(technologyatlas.png) -808px -1570px no-repeat;
}
.TECH_ATOMIC_THEORY {
  background: transparent url(technologyatlas.png) -1065px -1570px no-repeat;
}
.TECH_FLIGHT {
  background: transparent url(technologyatlas.png) -1320px -1570px no-repeat;
}
.TECH_BLANK {
  background: transparent url(technologyatlas.png) -1575px -1570px no-repeat;
}
.TECH_RADIO {
  background: transparent url(technologyatlas.png) -1833px -1570px no-repeat;
}
/* Row 8 */
.TECH_NUCLEAR_FISSION {
  background: transparent url(technologyatlas.png) -40px -1830px no-repeat;
}
.TECH_RADAR {
  background: transparent url(technologyatlas.png) -295px -1830px no-repeat;
}
.TECH_PLASTIC {
  background: transparent url(technologyatlas.png) -550px -1830px no-repeat;
}
.TECH_NOT_USED {
  background: transparent url(technologyatlas.png) -808px -1830px no-repeat;
}
.TECH_ELECTRONICS {
  background: transparent url(technologyatlas.png) -1065px -1830px no-repeat;
}
.TECH_ROCKETRY {
  background: transparent url(technologyatlas.png) -1320px -1830px no-repeat;
}
.TECH_LASERS {
  background: transparent url(technologyatlas.png) -1575px -1830px no-repeat;
}
.TECH_EMPTY {
  background: transparent url(technologyatlas.png) -1833px -1830px no-repeat;
}
/* Atlas Two */
.TECH_ECOLOGY {
  background: transparent url(technologyatlastwo.png) -40px -40px no-repeat;
}
.TECH_COMPUTERS {
  background: transparent url(technologyatlastwo.png) -295px -40px no-repeat;
}
.TECH_SATELLITES {
  background: transparent url(technologyatlastwo.png) -550px -40px no-repeat;
}
.TECH_STEALTH {
  background: transparent url(technologyatlastwo.png) -808px -40px no-repeat;
}
.TECH_GLOBALIZATION {
  background: transparent url(technologyatlastwo.png) -1065px -40px no-repeat;
}
.TECH_ROBOTICS {
  background: transparent url(technologyatlastwo.png) -1320px -40px no-repeat;
}
.TECH_EMPTY {
  background: transparent url(technologyatlastwo.png) -1575px -40px no-repeat;
}
.TECH_PARTICLE_PHYSICS {
  background: transparent url(technologyatlastwo.png) -1833px -40px no-repeat;
}
/* Row 2 */
.TECH_NANOTECHNOLOGY {
  background: transparent url(technologyatlastwo.png) -40px -295px no-repeat;
}
.TECH_NUCLEAR_FUSION {
  background: transparent url(technologyatlastwo.png) -295px -295px no-repeat;
}
.TECH_FUTURE_TECH {
  background: transparent url(technologyatlastwo.png) -550px -295px no-repeat;
}
.TECH_ADVANCED_BALLISTICS {
  background: transparent url(technologyatlastwo.png) -808px -295px no-repeat;
}
.TECH_PENICILIN {
  background: transparent url(technologyatlastwo.png) -1065px -295px no-repeat;
}
.TECH_TRAPPING {
  background: transparent url(technologyatlastwo.png) -1320px -295px no-repeat;
}
.TECH_EMPTY {
  background: transparent url(technologyatlastwo.png) -1575px -295px no-repeat;
}
.TECH_ACOUSTICS {
  background: transparent url(technologyatlastwo.png) -1833px -295px no-repeat;
}