body {
  background-color: white;
}

h2 {
  font-size: 1.1em;
  font-weight: bold;
}
.icon {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 22px;
  height: 22px;
}
.technology, .unit, .building, .policy {
  margin-left: auto;
  margin-right: auto;
  height: 128px;
  width: 128px;
}
